.content-preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    // background-color: whitesmoke;
    background-color: white;
    position: relative;
    z-index: 10000;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    
    width: 100px;
    height: 100px;
    border: 2px solid #972121b0;
    border-radius: 50%;
    border-top: 2px solid #002f5b;
    border-left: 2px solid #002f5b;
    animation-name: loader-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
    }
    95%{
        transform: rotate(330deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }