
<div class="row">
    <div class="col-sm">
        <strong>Tipo de operación: </strong>
        <div class="input-group" style="margin-top: 5px;">
            <div class="input-group-prepend btn-dprdwn">
                <button class="btn btn-outline-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false">Opciones</button>
                <div class="opciones">
                    <p class="opc">116027</p>
                    <div class="dropdown-divider"></div>
                    <p class="opc">116018</p>
                </div>
            </div>
            <input type="text" style="min-width: 20px;" readonly="readonly">
        </div>
    </div>
</div>

<div class="row end-element"> <!--end-element al último elemento para realizar separación-->
    <div class="col-sm" style="margin-top: 10px;">
        Oficina:
        <div class="form-group input-info">
            <input name="oficina" type="text" class="form-control" placeholder="Oficina" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-sm" style="margin-top: 10px;">
        Folio:
        <div class="form-group input-info">
            <input name="folio" type="text" class="form-control" placeholder="Folio" aria-label="" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-sm"></div>
</div>