<!-- this -->

<app-navbar></app-navbar>

<div class="container" >
	<div class="alert alert-primary title-opc" role="alert">
		<strong>PROCESAR</strong> - Preaviso BANXICO
	</div>

	<div *ngIf="!liquidationErr">
		<div class="alert alert-info alert-dismissible" *ngIf="balaceApproved">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{ message_liquidation }}</strong>
		</div>
		<div class="alert alert-info alert-dismissible" *ngIf="!balaceApproved">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{ message_liquidation }}</strong>
		</div>
	</div>
	<div class="alert alert-warning alert-dismissible" *ngIf="liquidationErr">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ message_liquidation_err }}</strong>
	</div>
</div>

<div class="container">
	<form >

		<div class="row end-element"> <!--end-element al último elemento para realizar separación-->
			<div class="col-sm" style="margin-top: 10px;">
				Tipo de operación:
				<div class="form-group input-info">
					<input name="typeOperation" id="place" [(ngModel)]="ngTypeOperation" type="text" class="form-control" 
					placeholder="" aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>

		<div class="row end-element"> <!--end-element al último elemento para realizar separación-->
			<div class="col-sm" style="margin-top: 10px;">
				Oficina:
				<div class="form-group input-info">
					<input type="text" name="place" id="place" [(ngModel)]="ngPlace" class="form-control" placeholder=""
					aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm" style="margin-top: 10px;">
				Folio:
				<div class="form-group input-info">
					<input type="text" name="folio" id="folio" placeholder="" [(ngModel)]="ngFolio" class="form-control"
					aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm" style="margin-top: 10px;">
				Fecha Registro:
				<div class="form-group input-info">
					<input [(ngModel)]="ngDateRegistry" type="text" name="dateRegistry" id="dateRegistry"  class="form-control" type="text"
					placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
		</div>

		<strong>Institución ordenante:</strong>
		<div class="row">
			<div class="col-sm">
				<div class="form-group input-info">
					Clave:
					<input type="text" name="codeBank" id="codeBank" [(ngModel)]="ngCodeBank" type="text" class="form-control"
					placeholder="" aria-describedby="currentName" readonly="readonly">
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Banco:
					<div class="form-group input-info">
						<input name="bankName" id="bankName" [(ngModel)]="ngBankName" type="text" class="form-control" 
						placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly"
						style="font-size: small;">
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Cuenta:
					<div class="form-group input-info">
						<input type="text" name="account" id="account" [(ngModel)]="ngAccount" type="text" class="form-control"
						placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly">
					</div>
				</div>
			</div>
		</div>

		<strong>Institución receptora:</strong>
		<div class="row">
			<div class="col-sm">
				<div class="form-group input-info">
					Clave:
					<input type="text" name="keyEntity" id="keyEntity"  class="form-control" [(ngModel)]="ngKeyEntity"
					type="text" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Nombre de la institución:
					<div class="form-group input-info">
						<input style="font-size: small;" type="text" name="bankNameRecep" id="bankNameRecep" [(ngModel)]="ngBankNameRecep"
						class="form-control" readonly="readonly" placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Fecha de recepción de aportaciones:
					<div class="form-group input-info">
						<input type="text" name="dateRep" id="dateRep" [(ngModel)]="ngDateRep" class="form-control"
						readonly="readonly" placeholder="" aria-label="" aria-describedby="basic-addon1">
					</div>
				</div>
			</div>
		</div>

		<strong>Importe:</strong>
		<div class="col-sm">
			<div class="form-group input-info">
				Tipo de deposito IMSS RCV:
				<input type="text" name="rcv" id="rcv"  class="form-control" [(ngModel)]="ngRcv"
				type="text" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
			</div>
		</div>

		<div class="col-md">
			<div class="form-group input-info">
				Texto:
				<input #texto name="txt" id="txt" [(ngModel)]="ngTxt" type="text" class="form-control" 
				placeholder="" aria-describedby="currentName" readonly>
			</div>
		</div>

		<div>
			<button (click)="paymentTransaction();"
			type="button" class="btn btn-outline-success float-right" 
			style="margin-bottom: 15px;" id="btnAuthorized">
				Aceptar y Firmar
			</button>
		</div>

	</form>
</div>



<div class="alert alert-danger alert-dismissible" *ngIf="isError" style="width: 80%; margin-left: 10%; margin-top: 5%;">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<strong>{{errorCode}}</strong> - {{errorMsj}}.
</div>
<div class="alert alert-success alert-dismissible" *ngIf="isSuccess" style="width: 80%; margin-left: 10%; margin-top: 5%;">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<strong>{{successCode}}</strong> - {{successrMsj}}.
</div>

<!-- <div class="container">
	<form >
		<div class="row" style="margin-left: 15%; margin-top: 8px; width: 70%; background: #ddd;">
			<div class="col-md-2">
				<label for="buscadorModal">Tipo Operaci&oacute;n:</label>
			</div>
			<div class="col-md-3">
				<input style="border-radius: 38px;height: 24px;margin: 1px 0px 0px -74px; width: 100px;" type="text" name="typeOperation"  class="form-control" required minlength="3" maxlength="7" [(ngModel)]="ngTypeOperation"> -->
				<!-- this <div *ngIf="errorType" style="margin-left: -74%; color: red;">El campo Tipo Operaci&oacute;n {{errorTypeMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-7"></div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: 0px; width: 70%; background: #ddd;">
			<div class="col-md-1">
				<label for="buscadorModal">Oficina:</label>
			</div>
			<div class="col-md-3">
				<input style="border-radius: 38px;height: 24px;margin: 1px 0px 0px -30px; width: 100px;" type="text" name="place" id="place" [(ngModel)]="ngPlace" class="form-control" > -->
				<!-- this <div *ngIf="errorPlace" style="margin-left: -38%; color: red;">El campo Oficina {{errorPlaceMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-1" style="margin-left: -3%;">
				<label for="buscadorModal">Folio:</label>
			</div>
			<div class="col-md-2">
				<input style="border-radius: 38px;height: 24px;margin: 1px 0px 0px -44px; width: 110px;" type="text" name="folio" id="folio" [(ngModel)]="ngFolio" class="form-control"> -->
				<!-- this <div *ngIf="errorFolio" style="margin-left: -38%; color: red;">El campo Folio {{errorFolioMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-2" style="margin-left: -3%;">
				<label for="buscadorModal">Fecha Registro:</label>
			</div>
			<div class="col-md-3">
				<input style="border-radius: 38px;height: 24px;margin: 1px 0px 0px -44px; width: 110px;" [(ngModel)]="ngDateRegistry" type="text" name="dateRegistry" id="dateRegistry"  class="form-control"> -->
				<!-- this <div *ngIf="errorFolio" style="margin-left: -38%; color: red;">El campo Folio {{errorFolioMsj}}.</div> -->
			<!-- </div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -1px; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-12">
				<label for="buscadorModal" style="margin-top: 2%;">Instituci&oacute;n Ordenante:</label>
			</div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: 0px; width: 70%; background: #ddd;">
			<div class="col-md-2">
				<label for="buscadorModal">Clave Banco:</label>
			</div>
			<div class="col-md-2"> -->
				<!-- <input style="border-radius: 38px;height: 24px; margin: 0px 0px 0px -87px; width: 166px;" type="text" name="codeBank" id="codeBank" [(ngModel)]="ngCodeBank" class="form-control" > -->
				<!-- this <div *ngIf="errorCodeBank" style="margin-left: -118%; color: red;">El campo Clave Banco {{errorCodeBankMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-7">
				<input style="border-radius: 38px;height: 24px; margin: 1px 0px 0px -85px; width: 656px;" readonly type="text" name="bankName" id="bankName" [(ngModel)]="ngBankName" class="form-control">
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -1px; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-2">
				<label for="buscadorModal" style="margin-top: 2%;">Cuenta:</label>
			</div>
			<div class="col-md-2"> -->
				<!-- <input style="border-radius: 38px;height: 24px; margin: 0px 0px 0px -87px; width: 166px;" type="text" name="account" id="account" [(ngModel)]="ngAccount" class="form-control"> -->
				<!-- this <div *ngIf="errorAccount" style="margin-left: -118%; color: red;">El campo Cuenta {{errorAccountMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-8"></div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -2%; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-12">
				<label for="buscadorModal" style="margin-top: 2%;">Instituci&oacute;n Receptora:</label>
			</div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: 0px; width: 70%; background: #ddd; height: 60px;">
			<div class="col-md-2">
				<label for="buscadorModal">Entidad receptora:</label>
			</div>
			<div class="col-md-2"> -->
				<!-- <input style="border-radius: 38px;height: 24px; margin: 0px 0px 0px -74px; width: 166px;" type="text" name="keyEntity" id="keyEntity"  class="form-control" [(ngModel)]="ngKeyEntity" > -->
				<!-- this <div *ngIf="errorKeyEntity" style="margin-left: -118%; color: red;">El campo Entidad receptora {{errorKeyEntityMsj}}.</div> -->
			<!-- </div>
			<div class="col-md-7">
				<input style="border-radius: 38px;height: 24px; margin: 1px 0px 0px -70px; width: 656px;" type="text" name="bankNameRecep" id="bankNameRecep" [(ngModel)]="ngBankNameRecep" class="form-control" readonly>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -2%; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-4">
				<label for="buscadorModal" style="margin-top: 5%;">Fecha de recepci&oacute;n de aportaciones:</label>
			</div>
			<div class="col-md-2">
				<input style="border-radius: 38px;height: 24px; margin: 10% 0px 0px -90%; width: 95%;" type="text" name="dateRep" id="dateRep" [(ngModel)]="ngDateRep" class="form-control">
			</div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -1px; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-4"></div><div class="col-md-4"></div>
			<div class="col-md-4">
				<label for="buscadorModal" style="margin-top: 5%; margin-left: 25%;">Importe</label>
			</div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -1px; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-6"></div>
			<div class="col-md-4">
				<label for="buscadorModal" style="margin-top: 5%;">Tipo de deposito:&nbsp;&nbsp;&nbsp;IMMS - RCV</label>
			</div>
			<div class="col-md-2">
				<input style="border-radius: 38px;height: 24px; margin: 10% 0px 0px -90%; width: 95%;" type="text" name="rcv" id="rcv" [(ngModel)]="ngRcv" class="form-control">
			</div>
		</div>
		<div class="row" style="margin-left: 15%; margin-top: -1px; width: 70%; background: #dddddd; height: 50px;">
			<div class="col-md-2">
				<label for="buscadorModal" style="margin-top: 5%;">Texto:</label>
			</div>
			<div class="col-md-6">
				<input style="border-radius: 38px;height: 24px; margin: 0px 0px 0px -74px; width: 558px;" type="text" name="txt" id="txt" [(ngModel)]="ngTxt" class="form-control">
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row" style="width: 80%;margin-left: 6%;margin-top: 1%; height: 50px; overflow-x: hidden;" >
			<div class="col-md-10"></div>
			<div class="col-md-1">
				<div >
					<button class="btn btn-success" id="btnAuthorized" (click)="paymentTransaction();">
						<font color=#fff>
							Aceptar y Firmar
						</font>
					</button>
				</div>
			</div>
		</div>
	</form>
</div> -->