<!-- this -->

<app-navbar></app-navbar>
<div class="container">
	<div class="alert alert-primary title-opc" role="alert">
		<strong>PROCESAR</strong> - Liquidación Back Office
	</div>

	<div *ngIf="errService" class="alert alert-danger" role="alert">
		<h4 class="alert-heading">Error inesperado.</h4>
		<p>Error en servicios.</p>
		<hr>
		<p class="mb-0">{{ messageErrService }}</p>
	</div>

	<!-- <div class="alert alert-info alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Atención: </strong> datos en modo "Sólo lectura".
	</div> -->
	<div *ngIf="!liquidationErr">
		<div class="alert alert-info alert-dismissible" *ngIf="balaceApproved">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{ message_liquidation }}</strong>
		</div>
		<div class="alert alert-info alert-dismissible" *ngIf="!balaceApproved">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{ message_liquidation }}</strong>
		</div>
	</div>
	<div class="alert alert-warning alert-dismissible" *ngIf="liquidationErr">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{ message_liquidation_err }}</strong>
	</div>
</div>
<div class="alert alert-info alert-dismissible" *ngIf="isInfo" style="width: 80%; margin-left: 10%; margin-top: 1%;">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<strong>{{infoCode}}</strong> - {{infoMsj}}.
</div>
<div class="container">
	<form >
		<div class="row end-element"> <!--end-element al último elemento para realizar separación-->
			<div class="col-sm" style="margin-top: 10px;">
				Tipo de operación:
				<div class="form-group input-info">
					<input name="typeOperation" id="place" [(ngModel)]="ngTypeOperation" type="text" class="form-control" 
					placeholder="" aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>

		<div class="row end-element"> <!--end-element al último elemento para realizar separación-->
			<div class="col-sm" style="margin-top: 10px;">
				Oficina:
				<div class="form-group input-info">
					<input type="text" name="place" id="place" [(ngModel)]="ngPlace" class="form-control" placeholder=""
					aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm" style="margin-top: 10px;">
				Folio:
				<div class="form-group input-info">
					<input type="text" name="folio" id="folio" placeholder="" [(ngModel)]="ngFolio" class="form-control"
					aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
			<div class="col-sm" style="margin-top: 10px;">
				Fecha Registro:
				<div class="form-group input-info">
					<input [(ngModel)]="ngDateRegistry" type="text" name="dateRegistry" id="dateRegistry"  class="form-control" type="text"
					placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly">
				</div>
			</div>
		</div>

		<strong>Institución ordenante:</strong>
		<div class="row">
			<div class="col-sm">
				<div class="form-group input-info">
					Clave:
					<input type="text" name="codeBank" id="codeBank" [(ngModel)]="ngCodeBank" type="text" class="form-control"
					placeholder="" aria-describedby="currentName" readonly="readonly">
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Banco:
					<div class="form-group input-info">
						<input name="bankName" id="bankName" [(ngModel)]="ngBankName" type="text" class="form-control" 
						placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly"
						style="font-size: small;">
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="banco">
					Cuenta:
					<div class="form-group input-info">
						<input type="text" name="account" id="account" [(ngModel)]="ngAccount" type="text" class="form-control"
						placeholder="" aria-label="" aria-describedby="basic-addon1" readonly="readonly">
					</div>
				</div>
			</div>
		</div>

	<strong>Institución receptora:</strong>
	<div class="row">
		<div class="col-sm">
			<div class="form-group input-info">
				Clave:
				<input type="text" name="keyEntity" id="keyEntity"  class="form-control" [(ngModel)]="ngKeyEntity"
				type="text" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
			</div>
		</div>
		<div class="col-sm">
			<div class="banco">
				Nombre de la institución:
				<div class="form-group input-info">
					<input style="font-size: small;" type="text" name="bankNameRecep" id="bankNameRecep" [(ngModel)]="ngBankNameRecep"
					class="form-control" readonly="readonly" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="banco">
				Fecha de recepción de aportaciones:
				<div class="form-group input-info">
					<input type="text" name="dateRep" id="dateRep" [(ngModel)]="ngDateRep" class="form-control"
					readonly="readonly" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
	</div>

	<strong>Importe:</strong>
	<div class="row">
		<div class="col-sm">
			<div class="form-group input-info">
				Tipo de deposito IMSS Cuatro Ramos:
				<input type="text" name="imms" id="imms"  class="form-control" [(ngModel)]="ngIMSS"
				type="text" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
			</div>
		</div>
		<div class="col-sm">
			<div class="banco">
				INFONAVIT - VIVIENDA:
				<div class="form-group input-info">
					<input type="text" name="viv" id="viv"  class="form-control" [(ngModel)]="ngViv"
					type="text" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="banco">
				INFONAVIT - ACV:
				<div class="form-group input-info">
					<input type="text" name="acv" id="acv"  class="form-control" [(ngModel)]="ngAcv"
					type="INFONAVIT - ACV" class="form-control" placeholder="" aria-describedby="currentName" readonly="readonly">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md">
			<div class="form-group input-info">
				Total:
				<input #texto name="total" id="total" [(ngModel)]="ngTotal" type="text" class="form-control" 
				placeholder="" aria-describedby="currentName" readonly>
			</div>
		</div>
		<div class="col-md"></div>
	</div>
	
	<div class="row end-element">
		<div class="col-md">
			<div class="form-group input-info">
				Texto:
				<input #texto name="txt" id="txt" [(ngModel)]="ngTxt" type="text" class="form-control" 
				placeholder="" aria-describedby="currentName" readonly>
			</div>
		</div>
	</div>

	<div>
		<button *ngIf="!liquidationErr" (click)="paymentTransaction();"
		type="button" class="btn btn-outline-success float-right" 
		style="margin-bottom: 15px;" id="btnAuthorized">
			Aceptar y Firmar
		</button>
	</div>
	</form>
</div>

<div class="container">
	<div class="alert alert-info alert-dismissible" *ngIf="isInfo" style="width: 80%; margin-left: 10%; margin-top: 1%;">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>{{infoCode}}</strong> - {{infoMsj}}.
	</div>
	<div class="alert alert-danger alert-dismissible" *ngIf="isError" style="width: 80%; margin-left: 10%; margin-top: 5%;">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>{{errorCode}}</strong> - {{errorMsj}}.
	</div>
	<div class="alert alert-success alert-dismissible" *ngIf="isSuccess" style="width: 80%; margin-left: 10%; margin-top: 5%;">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>{{successCode}}</strong> - {{successrMsj}}.
	</div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.5)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>