.logo-multiva {
    width: 180px;
    margin-right: 10px;
    border-right: 2px solid rgba(196, 24, 24, 0.377);
    transition: all .5s;
}

.logo-multiva:hover {
    border-right: 2px solid rgba(19, 104, 173, 0.561);
}