.navbar-menu{
    background: white;
}

.container-mega-menu > a{
    padding: 5px;
    margin: 5px;
}

.dependencia:hover{
    border-bottom: 1.5px solid red;
}

.navbar-main {
    margin-top: 20px;
}

.navbar-text {
    padding: 10px;
}