.dropdown:hover .dropdown-menu {
    display: block;
    //  border-bottom: 1.5px solid red;
}

.dependencia:hover{
    border-bottom: 1.5px solid red;
}

.dropdown-menu{
    margin: 0rem 0 0;
}

.dropdown-menu {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.301), 
                0 10px 10px rgba(0, 0, 0, 0.096);
}

.container-mega-menu > a{
    margin: 10px;
}

.container-mega-menu {
    margin: 0;
    font-size: small;
}

.dropdown-item{
    color: #355ca3;
    padding: 10px;
    text-align: center;
}

.dropdown-item:hover{
    background-color: rgba(230, 231, 230, 0.938);
    border-radius: 10px;
}

.icon-option {
    width: 35px;
    height: 35px;
}