<li class="nav-item">
    <div class="nav-link">
        <div class="dropdown">
            <button class="dependencia btn dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../assets/icons/logoProcesar.png" alt="">
            </button>
            <div id="dropdown-menu" class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuButton">
                <div >   
                    <div class="row row-cols-3 container container-mega-menu">
                        <a class="dropdown-item" routerLink="/balanceProcesar">
                            <img src="../../../../assets/icons/balance_SIPARE.png" class="icon-option" alt="):">
                            <br>
                            Conciliación <br> de cifras
                        </a>       
                        <a class="dropdown-item" routerLink="/">
                            🔨
                            <br>
                            En construcción
                        </a>                                                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>