.custom-th {
    border-right: 1px solid grey;
}

.format-table {
    background: white; 
    color: black; 
    border-bottom: 1px solid grey; 
    border-top: 1px solid grey;
}

.custom-date {
    padding: 12px 0px 10px 0px;
}