.date {
    padding: 10px;
    border-radius: 20px;
    background: rgba(233, 233, 233, 0.904);
}

.title-balance {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    font-weight: bold;
}

.table-titles {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-data {
    margin: 10px;
}

.title-table {
    border: 1px solid grey;
}

.icon-verify-ok {
    background-color: #629c44;
    border-radius: 10px;
}

.icon-verify-warning {
    background-color: #f09112;
    border-radius: 10px;
}

.icon-verify-error {
    background-color: #b70f0a;
    border-radius: 10px;
}

.button-autorizar {
    text-align: end;
    // margin-bottom: 15px;
}

.dropdown-divider {
    border-top: 1px solid grey;
}

.menssage-to-user {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title-opc {
    margin: 0px 0px 35px 0px;
    font-size: 110%;
}