.form-control {
    border-radius: 0%;
    border: 1px solid rgb(141, 135, 135);
    border-top: none;
    border-right: none;
    border-left: none;
}

.icon-search {
    text-align: center;
    align-items: center;
    display: flex;
}

.banco {
    padding-left: 0;
}

.end-element {
    margin-bottom: 25px;
}