.barranombre {
	background: #eaf1f9;
	width: 80%;
}

.pointer {cursor: pointer;}

input[type=text] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	height: 30px;
	width: 400px;
	background: #f7f7f7;
	color: #969696;
	margin-top: 3px;
	/* 	margin: 30px auto; */
}