<app-navbar></app-navbar>
<div class="container-fluid barranombre" style="margin-top: 1%; margin-left: 14%;">
	<div class="col-md-10 " id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav col-md-12">
			<h4>
				<font color=#0c3a6b style="font-size: 12px;">Transacciones erroneas</font> <font
					color=#0c3a6b></font>
			</h4>
		</ul>
	</div>
</div>
<div class="row" style="width: 80%; margin-left: 15%;">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div *ngIf="tableTrx" class="mce-container row scrollme" style="width: 210%;margin-top: 2%;height: 364px;overflow-x: hidden;margin-left: -57%;">
			<table class="table table-hover table-sm" id="table-File">
				<thead>
					<tr>
						<th scope="col">Transacci&oacute;n</th>
						<th scope="col">Fecha</th>
						<th scope="col">Tipo</th>
						<th scope="col">Rechazo</th>
						<th scope="col">Acci&oacute;n</th>
					</tr>
				</thead>
				<tbody class="tbody-class" style="height: 35px;">
					<tr *ngFor="let trx of listTrxs">
						<td>{{trx.trx}}</td>
						<td>{{trx.date}}</td>
						<td>{{trx.status}}</td>
						<td>{{trx.reject}}</td>
						<td>
							<div class="row" style="width: 79%;margin-left: 15%;margin-top: 3%">
								<div class="col-md-1"></div>
								<div class="col-md-5">
									<button type="submit" class="btn btn-outline-success" (click)="reprocess(trx.oid);">Re-Procesar</button>
								</div>
								<div class="col-md-1"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-3" style="display: none">
	</div>
</div>
<div style="width: 80%; margin-left: 15%;margin-top: 1%">
	<div class="alert alert-danger alert-dismissible" *ngIf="isError">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{errorCode}}</strong> - {{errorMsj}}.
	</div>
	<div class="alert alert-success alert-dismissible" *ngIf="isSuccess">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{successCode}}</strong> - {{successrMsj}}.
	</div>
	<div class="alert alert-info alert-dismissible" *ngIf="isInfo">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<strong>{{infoMsj}}</strong>.
	</div>
</div>