
<app-navbar></app-navbar>

<div class="container">
  <div class="alert alert-primary title-opc" role="alert">
      <strong>CONSAR</strong> - Bitácora de archivos
  </div>
  <strong>Fecha: </strong> 
  <span class="border border-light date">
      {{ fechaCompleta }}
  </span>
  <br><br>
  <strong>
    Nombre del archivo:
  </strong>
  <span class="name-file-not-found">
    {{ fileName }}
  </span>

  <div class="row title-short">
      <div class="col-12">
        Bitácora
      </div>
  </div>

  <div class="container-step-progress-bar">
    <ul class="progressbar">
      <li *ngFor="let step of baseFileStatus" class="">
        <div class="text">
          {{ step.description }}
        </div>
      </li>
    </ul>
  </div>
</div>