.container-step-progress-bar {
  width: 100%;
}
.name-file-not-found {
  color: #cf292a;
}
.name-file-found {
  color:green;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  min-width: 15%;
  max-width: 15%;
  position: relative;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid grey;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: grey;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
  content: counter(step);
} 
.progressbar li.active + li:after {
  background-color: green;
}

.text {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .progressbar li {
    list-style: none;
    display: inline-block;
    min-width: 20%;
    max-width: 15%;
    position: relative;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}
@media (max-width: 768px) {
  .progressbar li {
    list-style: none;
    display: inline-block;
    min-width: 25%;
    max-width: 15%;
    position: relative;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}
@media (max-width: 425px) {
  .progressbar li {
    list-style: none;
    display: inline-block;
    min-width: 50%;
    max-width: 15%;
    position: relative;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}
@media (max-width: 425px) {
  .progressbar li {
    list-style: none;
    display: inline-block;
    min-width: 50%;
    max-width: 15%;
    position: relative;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
}