.contorno {
	border: 1px solid #d1d1d1;
	border-bottom: 2px solid #d1d1d1;
	-moz-box-shadow: 1px 4px 5px 0px rgba(209, 209, 209, 0.75);
	box-shadow: 1px 4px 5px 0px rgba(209, 209, 209, 0.75);
}
