.date {
    padding: 10px;
    border-radius: 20px;
    background: rgba(233, 233, 233, 0.904);
}

.title-short {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    font-weight: bold;
}

.title-opc {
    margin: 0px 0px 35px 0px;
    font-size: 110%;
}